@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
    --postIt: #fcffa4;
    --inkPen: #0000CD;
}

.container {
    /* display: flex; */
    max-width: 500px;
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto; /* auto moved the whole container to center of page*/
    padding: 20px;
    background-color: var(--postIt);
}

.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-weight: 500;
    margin: 20px;
    color: var(--inkPen);
}
.logo {
    color: var(--inkPen);
}

#item-input {
    font-family: 'Gochi Hand', sans-serif;
    background-color: var(--postIt);
    color: var(--inkPen);
    width: 98%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;;
    padding: 5px; 
}

/* .addItem {
    background-color: ;
} */

#filter {
    font-family: 'Gochi Hand', sans-serif;
    background-color: var(--postIt);
    color: var(--inkPen);
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid gray;
    width: 98%;
    font-size: 20px;
}


#item-list {
    list-style-type: none;
}


.items li{
    font-family: 'Gochi Hand', sans-serif;
    font-size: 18px;
    color: var(--inkPen);
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    width: 45%;
    padding: 5px 20px;
}

.text-red {
    color: red;
}

.btn-link {
    border: none;
    background-color: var(--postIt);
}

.clear:hover, .btn-link:hover, .addItem:hover{
    background-color: gray;
}




@media (max-width: 500px) {
    items.li {
        width: 100%;
    }
}